{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Login</title>


</head>
<body>
   <div class="box">
    <div class="container">

        <div class="top">
            <header>Reset Password</header>
        </div>

        <form method="POST" action="{% url 'resetpassword' %}">
            {% csrf_token %}
            <div class="input-field" style="padding-top: 1rem;">
                <input type="password" class="input" placeholder="New Password" name="password" required>
                <i class="bi bi-lock-fill"></i>
            </div>
    
            <div class="input-field" style="padding-top: 1rem;">
                <input type="Password" class="input" placeholder="Confirm Password" name="confirm_password" required>
                <i class="bi bi-lock-fill"></i>
            </div>
    
    
            <div class="input-field" style="padding-top: 1rem;">
                <button type="submit" class="submit">Submit</button>
            </div>
            <div style="text-align: center;">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            
        </form>
    </div>
</div> 
</body>
</html>